FoodDonationAPI/.vs
FoodDonationAPI/FoodDonationAPI/bin
FoodDonationAPI/FoodDonationAPI/obj
FoodDonationAPI/FoodDonationAPI/Properties/PublishProfiles
FoodDonationAPI/FoodDonationAPI/Properties/ServiceDependencies/FoodDonationAPI - Web Deploy
FoodDonationAPI/FoodDonationAPI/appsettings.json
FoodDonationAPI/FoodDonationAPI/Properties/ServiceDependencies/FoodDonationAPI - Web Deploy1
FoodDonationAPI/FoodDonationAPI/FoodDonationAPI.csproj.user
