<!DOCTYPE html>
<head>
    <Title>Post Form</Title>>
</head>


  <body>
    <form [formGroup]="postForm">
      <div class="container">
        <div class="card bg-dark text-white mb-4" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center mb-4">
            <h2>Post Details</h2>
              <div>        
                <textarea class="form-control form-control-lg" rows="4" formControlName="textForm" placeholder="Description, pickup details, etc." name="text"></textarea>
                <label class="custom-control-label"></label>
                <div class="row">
                  <div class="col-sm">
                    <input type="text" class="form-control form-control-lg" formControlName="imageForm" placeholder="Image URL (example.com/image)" name="image">
                  </div>
                  <div class="col-sm">
                    <select class="custom-select d-block w-100 form-control-lg" required="" formControlName="restrictionBox">
                      <option disabled="disabled" value="">Restriction</option>
                      <option>Vegetarian</option>
                      <option>Vegan</option>
                      <option>Halal</option>
                      <option>Kosher</option>
                      <option>None</option>
                    </select>
                  </div>
                </div>
              </div>
                <div>
                  <br>
                  <label class="custom-control-label"></label>
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Post" (click)="this.onSubmit()">
              </div>
          </div>
      </div>
  </div>
</form>