<div class="container">
  <header class="d-flex flex-wrap align-items-center py-3 mb-4 border-bottom">
    <div class="justify-content-left col-md-3 mb-2 mb-md-0">
      <img src="assets/images/food_donation_logo.png" class="bi me-2" width="100" height="100">
      <span class="fs-4">ShareTable</span>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="feed" class="nav-link px-2 link-secondary">Feed</a></li>
      <li><a routerLink="post" class="nav-link px-2">Create Post</a></li>
    </ul>

  </header>
</div>



