/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'UnicaOne';
    src: 
      url('../src/assets/fonts/UnicaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'ShadowsIntoLight';
    src: 
      url('../src/assets/fonts/ShadowsIntoLightTwo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'SofiaSansExtra';
    src:
      url('../src/assets/fonts/static/SofiaSansExtraCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'SofiaSansExtra', sans-serif;
    font-size: 20px;
  }

  h1 {
    font-family: 'UnicaOne', sans-serif;
  }
